<section id="clients">
    <div class="container py-20">
        <div class="flex flex-wrap">
            <div class="w-full mx-4">
                <div class="wow fadeInUp" data-wow-delay=".2s">
                    <div class="ud-title mb-8">
                        <h6
                            class="
                            text-xs
                            font-normal
                            text-body-color
                            relative
                            inline-flex
                            items-center
                            "
                        >
                            Some Of Our Clients
                            <span class="w-8 h-[1px] inline-block bg-[#afb2b5] ml-4">
                            </span>
                        </h6>
                    </div>
                    <div class="ud-brands-logo flex items-center flex-wrap">
                        <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
                            <a
                            href="https://tailgrids.com"
                            target="_blank"
                            rel="nofollow noopner"
                            >
                                <img
                                    src="assets/images/brands/tailgrids.svg"
                                    alt="tailgrids"
                                    class="grayscale hover:filter-none duration-300"
                                />
                            </a>
                        </div>
                        <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
                            <a
                            href="https://ayroui.com"
                            target="_blank"
                            rel="nofollow noopner"
                            >
                            <img
                                src="assets/images/brands/ayroui.svg"
                                alt="ayroui"
                                class="grayscale hover:filter-none duration-300"
                            />
                            </a>
                        </div>
                        <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
                            <a
                            href="https://uideck.com"
                            target="_blank"
                            rel="nofollow noopner"
                            >
                            <img
                                src="assets/images/brands/uideck.svg"
                                alt="uideck"
                                class="grayscale hover:filter-none duration-300"
                            />
                            </a>
                        </div>
                        <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
                            <a
                            href="https://graygrids.com"
                            target="_blank"
                            rel="nofollow noopner"
                            >
                            <img
                                src="assets/images/brands/graygrids.svg"
                                alt="graygrids"
                                class="grayscale hover:filter-none duration-300"
                            />
                                </a>
                        </div>
                        <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
                            <a
                                href="https://lineicons.com"
                                target="_blank"
                                rel="nofollow noopner"
                                >
                                <img
                                    src="assets/images/brands/lineicons.svg"
                                    alt="lineicons"
                                    class="grayscale hover:filter-none duration-300"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>