<!-- Begin partners -->
<section id="partners-section">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Our Partners</h2>
                <div class="devider"></div>
                <p class="subtitle">Those who trust us</p>
            </div>
        </div>
    </div>
    <!-- End page header-->
    <div class="container">
        <div id="owl-partners" class="owl-carousel">
            <img src="img/partners/1.png" alt="img">
            <img src="img/partners/2.png" alt="img">
            <img src="img/partners/3.png" alt="img">
            <img src="img/partners/4.png" alt="img">
            <img src="img/partners/5.png" alt="img">
            <img src="img/partners/6.png" alt="img">
            <img src="img/partners/7.png" alt="img">
        </div>
    </div>
</section>
<!-- End partners -->
    